.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.toolbar .logo_title {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2em;
}

.toolbar .btn_div {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background: #141414;
  border-radius: 10px;
  cursor: pointer;
}

.toolbar .btn_div:hover {
  background: #3b3b3b;
}

.toolbar .btn_div:active {
  background: #141414;
}

.toolbar .btn_div.error {
  color: white;
  background-color: #aa0000;
}

.toolbar .btn_div.loading {
  background-color: transparent;
}

.toolbar .btn_div .btn_text {
  margin-left: 5px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin-right: 2px;
}