.App {
  font-family: Arial, sans-serif;
  text-align: center;
  color: #333;
}

/* Common Header */
.header {
  font-size: 2em;
  padding: 20px;
  background-color: #fff;
  text-align: left;
  font-weight: bold;
  padding-left: 50px;
}

/* Carousel Page */
.carousel-page {
  overflow-x: hidden; /* Allows horizontal scrolling */
}

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-top: 20px;
  margin-top: 20px;
}

.carousel_slider {
  width: 100%;
  padding: 20px;
}

.carousel_slider img {
  width: 100%;
  height: auto;
}

.carousel-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4em;
  color: white;
  font-weight: bold;
}

.section {
  margin-top: 20px;
}

.section a.section_title {
  display: block;
  width: 100%;
  text-align: start;
  font-weight: 600;
  font-size: large;
  margin-left: 20px;
  margin-right: 20px;
}

.section_product_list {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;

  /* Set a fixed height for the scrollable area */
  height: fit-content; /* Adjust this as needed */
  overflow-x: auto; /* Allows horizontal scrolling */
  overflow-y: hidden; /* Prevents vertical scrolling */
}

.product-item {
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 20px;
}

.product-item img {
  width: 150px;
  height: 200px;
  border-radius: 10px;
}

::-webkit-scrollbar {
  height: 0px; /* Height of the scrollbar (for horizontal scrollbar) */
}

@media (min-width: 1010px) {
  /* WebKit browsers (Chrome, Safari) */
  ::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
    height: 12px; /* Height of the scrollbar (for horizontal scrollbar) */
  }

  ::-webkit-scrollbar-track {
    background: #888; /* Background of the scrollbar track */
    border-radius: 10px; /* Rounded corners for the track */
  }

  ::-webkit-scrollbar-thumb {
    background: #141414; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners for the thumb */
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the thumb on hover */
  }

  .product-item {
    margin-left: 20px;
    margin-right: 20px;
  }

  .section_product_list {
    justify-content: space-between;
  }

}
